.heading {

font-size: 23px;
width: 100%;
margin: 0px;
box-shadow: 5px 5px 5px  crimson;

}


.note {

font-size: 15px;
color:darkseagreen

}


.copy_right_footer {

position: fixed;
color:chartreuse;
font-size: 15px;
bottom: 0;
width: 100%;
background-color:mediumpurple;
line-height: 3;
text-align:center;

}


canvas {

border: 5px solid yellowgreen;
border-radius: 15px;
box-shadow: 5px 5px 5px orangered;

}